PORT=5001

# Opsi 1: Menggunakan Connection String dari Supabase (Rekomendasi)
DATABASE_URL=postgres://postgres.[ref_project]:[password_anda]@db.[ref_project].supabase.co:5432/postgres

# Opsi 2: Menggunakan Konfigurasi Terpisah
DB_HOST=db.[ref_project].supabase.co
DB_PORT=5432
DB_USER=postgres
DB_PASS=password_anda
DB_NAME=postgres
DB_SSL=true
